.calculator {
  height: 87vh;
  aspect-ratio: 582/800;
  background-color: #121212;
  border: 3px solid #121212;
  color: #ffffff;
  margin: 6vh auto;
  border-radius: 10px;
}

.display-box {
  position: relative;
  width: 100%;
  height: 20%;
}

.display {
  position: absolute;
  border: 3px solid white;
  width: 100%;
  height: 96%;
  bottom: 2%;
  top: 2%;
  border-radius: 10px;
}

.main-body {
  width: 100%;
  height: 80%;
}

.rows {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.keys {
  font-weight: 900;
  font-size: 2.5rem;
  background-color: #444444;
  width: 25%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
}

.keys:hover {
  background-color: red;
}

.input {
  position: absolute;
  font-weight: 900;
  height: 50%;
  padding: 2%;
  font-size: 2.5rem;
  left: 0;
  bottom: 0;
}
